.boxing {
	border: 1px groove black;
	background-color: bisque;
	width: 350px;
	height: 200px;
	text-align: center;
	border-radius: 15px;
	
}
body{
background-color:aqua;
/* background-image: linear-gradient(aqua,hotpink);
background-size: cover;
background-repeat: no-repeat; */
}

.boxing > h1 + p {
	font-weight: 400;
	color: brown;
	margin: 20px;

}
.buttons{
	display: flex;
	justify-content: center;
	gap: 30px;

}
h1{
	text-align: center;
	color:darkblue;
}
.box{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}
@media screen and (min-width:300px) and (max-width:500px) {
	.buttons{
		flex-direction: column;
	}
	.box{
		flex-direction: column;
	}
}